



    /* color: blueviolet ;background-color: brown;
    text-align: center
    font-family: 'Ubuntu', sans-serif;
}
 .jpg{

font-family: 'Ubuntu', sans-serif;
}
.rip{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
} */ 
.box{
    text-align: center;
    background-color: blue;
    margin: 2% 40%;
    font-size: 40px;
}